/* COLORS
---------------
Colors used in the design
--------------- */

:root {
	--color-blue: oklch(0.33 0.095 250);
	--color-purple: oklch(0.53 0.22 330);
	--color-yellow: oklch(0.82 0.17 81);
	--color-red: oklch(0.45 0.17 28);
	--color-red-dark: oklch(0.24 0.094 30);
	--color-red-light: oklch(0.87 0.04 30);
	--color-red-light-alt: oklch(0.96 0.02 30);
	--color-green: oklch(0.4 0.11 150);
	--color-green-light: oklch(0.9 0.04 150);
	--color-green-light-alt: oklch(0.97 0.02 150);
	--color-beige: oklch(0.446 0.039 107);
	--color-bei095250light: oklch(0.95 0.016 107);
	--color-beige-light-alt: oklch(0.99 0.01 107);

	--color-purple-900: oklch(0.1 0.22 330);
	--color-purple-800: oklch(0.2 0.22 330);
	--color-purple-700: oklch(0.3 0.22 330);
	--color-purple-600: oklch(0.4 0.22 330);
	--color-purple-500: oklch(0.5 0.22 330);
	--color-purple-400: oklch(0.6 0.18 330);
	--color-purple-300: oklch(0.7 0.13 330);
	--color-purple-200: oklch(0.8 0.08 330);
	--color-purple-100: oklch(0.9 0.04 330);
	--color-purple-050: oklch(0.95 0.02 330);
	--color-purple-030: oklch(0.97 0.02 330);

	--color-grey-900: oklch(0.1 0 0);
	--color-grey-800: oklch(0.2 0 0);
	--color-grey-700: oklch(0.3 0 0);
	--color-grey-600: oklch(0.4 0 0);
	--color-grey-500: oklch(0.5 0 0);
	--color-grey-400: oklch(0.6 0 0);
	--color-grey-300: oklch(0.7 0 0);
	--color-grey-200: oklch(0.8 0 0);
	--color-grey-100: oklch(0.9 0 0);
	--color-grey-050: oklch(0.95 0 0);
	--color-grey-020: oklch(0.98 0 0);

	--color-blue-900: oklch(0.1 0.070 250);
	--color-blue-800: oklch(0.2 0.080 250);
	--color-blue-700: oklch(0.335 0.095 250);
	--color-blue-600: oklch(0.4 0.095 250);
	--color-blue-500: oklch(0.5 0.090 250);
	--color-blue-400: oklch(0.6 0.08 250);
	--color-blue-300: oklch(0.7 0.06 250);
	--color-blue-200: oklch(0.8 0.03 250);
	--color-blue-100: oklch(0.9 0.02 250);
	--color-blue-050: oklch(0.95 0.02 250);
	--color-blue-030: oklch(0.97 0.01 250);

	--color-yellow-900: oklch(0.1 0.17 81);
	--color-yellow-800: oklch(0.2 0.17 81);
	--color-yellow-700: oklch(0.3 0.17 81);
	--color-yellow-600: oklch(0.4 0.17 81);
	--color-yellow-500: oklch(0.5 0.17 81);
	--color-yellow-400: oklch(0.6 0.17 81);
	--color-yellow-300: oklch(0.7 0.17 81);
	--color-yellow-200: oklch(0.82 0.17 81);
	--color-yellow-100: oklch(0.9 0.1 81);
	--color-yellow-050: oklch(0.95 0.1 81);
	--color-yellow-010: oklch(0.99 0.05 81);

	--color-teal-900: oklch(0.1 0.08 192);
	--color-teal-800: oklch(0.2 0.08 192);
	--color-teal-700: oklch(0.3 0.08 192);
	--color-teal-600: oklch(0.4 0.08 192);
	--color-teal-500: oklch(0.5 0.08 192);
	--color-teal-400: oklch(0.6 0.08 192);
	--color-teal-300: oklch(0.7 0.08 192);
	--color-teal-200: oklch(0.8 0.08 192);
	--color-teal-100: oklch(0.9 0.03 192);
	--color-teal-050: oklch(0.95 0.01 192);
	--color-teal-030: oklch(0.97 0.01 192);

	--color-red-900: oklch(0.1 0.1 30);
	--color-red-800: oklch(0.2 0.2 30);
	--color-red-700: oklch(0.3 0.3 30);
	--color-red-600: oklch(0.4 0.25 30);
	--color-red-500: oklch(0.5 0.17 28);
	--color-red-400: oklch(0.6 0.17 28);
	--color-red-300: oklch(0.7 0.17 28);
	--color-red-200: oklch(0.8 0.04 30);
	--color-red-100: oklch(0.9 0.03 30);
	--color-red-050: oklch(0.97 0.02 30);

	--color-green-900: oklch(0.1 0.11 150);
	--color-green-800: oklch(0.2 0.11 150);
	--color-green-700: oklch(0.3 0.11 150);
	--color-green-600: oklch(0.4 0.11 150);
	--color-green-500: oklch(0.5 0.11 150);
	--color-green-400: oklch(0.6 0.11 150);
	--color-green-300: oklch(0.7 0.11 150);
	--color-green-200: oklch(0.8 0.11 150);
	--color-green-100: oklch(0.9 0.04 150);
	--color-green-050: oklch(0.96 0.02 150);

	--color-beige-500: oklch(0.446 0.039 107);
	--color-beige-100: oklch(0.9 0.016 107);
	--color-beige-050: oklch(0.97 0.01 107);
}

/* BREAKPOINTS
---------------
Breakpoints used in the design
--------------- */

$breakpoints: (
	'small': 500px,
	'medium': 900px,
	'large': 1200px
);

/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function width($breakpoint) {
	@return map-get($breakpoints, $breakpoint);
}
