/* COLORS
---------------
Colors used in the design
--------------- */

:root {
  --color-blue: #003865;
  --color-purple: rgb(172, 32, 167);
  --color-yellow: rgb(252, 184, 20);
  --color-red: #9f1914;
  --color-red-dark: #410200;
  --color-red-light: #f0cccb;
  --color-red-light-alt: #ffebeb;
  --color-green: #005a26;
  --color-green-light: #bfdecc;
  --color-beige: #56563d;
  --color-beige-light: #ebebdf;
}

/* BREAKPOINTS
---------------
Breakpoints used in the design
--------------- */

$breakpoints: (
    'small': 500px,
    'medium': 900px,
    'large': 1200px
);

/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function width($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}
