/* COLORS
---------------
Colors used in the design
--------------- */

:root {
	--color-blue: oklch(0.33 0.095 250);
	--color-purple: oklch(0.53 0.22 330);
	--color-yellow: oklch(0.82 0.17 81);
	--color-red: oklch(0.45 0.17 28);
	--color-red-dark: oklch(0.24 0.094 30);
	--color-red-light: oklch(0.87 0.04 30);
	--color-red-light-alt: oklch(0.96 0.02 30);
	--color-green: oklch(0.4 0.11 150);
	--color-green-light: oklch(0.9 0.04 150);
	--color-green-light-alt: oklch(0.97 0.02 150);
	--color-beige: oklch(0.446 0.039 107);
	--color-beige-light: oklch(0.95 0.016 107);
	--color-beige-light-alt: oklch(0.99 0.01 107);
}

/* BREAKPOINTS
---------------
Breakpoints used in the design
--------------- */

$breakpoints: (
	'small': 500px,
	'medium': 900px,
	'large': 1200px
);

/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function width($breakpoint) {
	@return map-get($breakpoints, $breakpoint);
}
