.oh-calendar {
	--grid-gap: 3px;
	--header-size: 2em;

	display: flex;
	flex-direction: column;
	width: 100%;

	font-size: 0.8em;

	@media screen and (min-width: 40em) {
		font-size: 1em;
	}
}

.oh-calendar__toolbar {
	--toolbar-height: 50px;
	--toolbar-icon-size: 20px;
	--toolbar-heading: 25px;

	display: flex;
	height: var(--toolbar-height);
	width: 100%;
	margin-bottom: 1em;

	&:has(:focus-visible) {
		outline: 5px auto Highlight;
		outline: 5px auto -webkit-focus-ring-color;
	}

	&-button {
		height: var(--toolbar-height);
		width: var(--toolbar-height);
		font-size: var(--toolbar-icon-size);
		border: 2px solid var(--color-purple-500);
		border-radius: 4px;
		background: transparent;
		color: var(--color-purple-500);
		cursor: pointer;

		&:hover, &:focus-visible {
			background: var(--color-purple-500);
			color: white;
		}

		&[aria-disabled=true] {
			background: var(--color-grey-100);
			border-color: var(--color-grey-100);
			color: var(--color-grey-600);
			cursor: default;

			&:hover, &:focus-visible {
				background: var(--color-grey-100);
				color: var(--color-grey-600);
			}
		}
	}

	&-heading {
		flex: 1;
		text-align: center;
		height: var(--toolbar-height);
		line-height: var(--toolbar-height);
		font-size: var(--toolbar-heading);
	}
}

.oh-calendar__calendar {
	grid-area: weeks;
}

.oh-calendar__weekdays {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: var(--grid-gap);
	margin: 0;
	text-align: center;
	z-index: initial;

	.oh-calendar__weekdays__empty {
		display: none;
		@media screen and (min-width: 40em) {
			display: block;
		}
	}

	@media screen and (min-width: 40em) {
		grid-template-columns: var(--header-size) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	@media screen and (max-width: 40em) {
		font-size: .8em;
	}

	abbr[title], abbr[data-original-title] {
		border-bottom: none;
	}
}

.oh-calendar__weekday {
	abbr {
		text-transform: uppercase;
	}

}

.oh-calendar__month {
	display: flex;
	grid-gap: var(--grid-gap);
	flex-direction: column;

	&[aria-selected=false] {
		display: none;
	}
}

.oh-calendar__week {
	--grid-cell-min-height: 5em;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas: "monday tuesday wednesday thursday friday saturday sunday";
	grid-gap: var(--grid-gap);

	.oh-calendar__week-number {
		display: none;
		grid-area: weeknumber;
		line-height: var(--grid-cell-min-height);

		&.-current-week {
			font-weight: bold;
		}

		@media screen and (min-width: 40em) {
			display: block;
		}
	}

	.oh-calendar__day {
		padding: .25em;
		min-height: var(--grid-cell-min-height);
	}

	@media screen and (min-width: 40em) {
		grid-template-columns: var(--header-size) repeat(7, 1fr);
		grid-template-areas: "weeknumber monday tuesday wednesday thursday friday saturday sunday";
	}
}

.oh-calendar__week .oh-calendar__days {
	flex: 1;
}

.oh-calendar__day {
	--_day-background: var(--day-background, var(--color-grey-050, white));
	--_day-foreground: var(--day-foreground, var(--color-grey-900, inherit));

	color: var(--_day-foreground);
	background-color: var(--_day-background);
	line-height: 1;
	overflow: hidden;
	border: 0;

	.oh-calendar__date {
		display: block;
		font-size: 1em;
		margin-bottom: 0.5em;
	}

	&.-outside-month {
		--day-background: var(--color-grey-020);
		--day-foreground: var(--color-grey-800);

		&.-open {
			--day-background: var(--color-green-050);
			--day-foreground: var(--color-green-800);
		}

		&.-closed {
			--day-background: var(--color-red-050);
			--day-background-alt: white;
			--day-foreground: var(--color-red-800)
		}
	}

	&.-monday {
		grid-area: monday;
	}

	&.-tuesday {
		grid-area: tuesday;
	}

	&.-wednesday {
		grid-area: wednesday;
	}

	&.-thursday {
		grid-area: thursday;
	}

	&.-friday {
		grid-area: friday;
	}

	&.-saturday {
		grid-area: saturday;
	}

	&.-sunday {
		grid-area: sunday;
	}

	&.-open {
		--day-background: var(--color-green-100);
		--day-foreground: var(--color-green-800);
	}

	&.-closed {
		--day-background: var(--color-red-100);
		--day-background-alt: var(--color-red-050);
		--day-foreground: var(--color-red-800);

		background: repeating-linear-gradient(
				45deg,
				var(--day-background-alt),
				var(--day-background-alt) 2px,
				var(--_day-background) 2px,
				var(--_day-background) 4px
		);
	}

	&.-today {
		opacity: 1;
		border-bottom-right-radius: 30px;
		--day-foreground: white;

		&.-open {
			--day-background: var(--color-green-600);
		}

		&.-closed {
			--day-background: var(--color-red-700);
			--day-background-alt: var(--color-red-900);
		}
	}
}

.oh-calendar__day__hours {
	display: block;
	font-size: 1em;
	font-weight: 700;
	text-transform: capitalize;
}

.oh-calendar__day__note {
	font-size: .6em;
	line-height: 1;
	font-weight: 700;
}
