.oh-calendar {
	--grid-gap: 3px;
	--header-size: 2em;

	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 1em;
}

.oh-calendar__toolbar {
	--toolbar-height: 50px;
	--toolbar-icon-size: 20px;
	--toolbar-heading: 25px;

	display: flex;
	margin-bottom: 1em;
	width: 100%;
	height: var(--toolbar-height);

	&:has(:focus-visible) {
		outline: 5px auto Highlight;
		outline: 5px auto -webkit-focus-ring-color;
	}

	&-button {
		cursor: pointer;
		border: 2px solid var(--color-purple-500);
		border-radius: 4px;
		background: transparent;
		width: var(--toolbar-height);
		height: var(--toolbar-height);
		color: var(--color-purple-500);
		font-size: var(--toolbar-icon-size);

		&:hover,
		&:focus-visible {
			background: var(--color-purple-500);
			color: white;
		}

		&[aria-disabled="true"] {
			cursor: default;
			border-color: var(--color-grey-100);
			background: var(--color-grey-100);
			color: var(--color-grey-600);

			&:hover,
			&:focus-visible {
				background: var(--color-grey-100);
				color: var(--color-grey-600);
			}
		}
	}

	&-heading {
		flex: 1;
		height: var(--toolbar-height);
		font-size: var(--toolbar-heading);
		line-height: var(--toolbar-height);
		text-align: center;
	}
}

.oh-calendar__calendar {
	grid-area: weeks;
	container-name: oh-calendar;
	container-type: inline-size;
}

.oh-calendar__weekdays {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: var(--grid-gap);
	z-index: initial;
	margin: 0;
	text-align: center;

	.oh-calendar__weekdays__empty {
		display: none;

		@container oh-calendar (min-width: 25em) {
			display: block;
		}
	}

	@container oh-calendar (min-width: 25em) {
		grid-template-columns: var(--header-size) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	abbr[title],
	abbr[data-original-title] {
		border-bottom: none;
	}
}

.oh-calendar__weekday {
	abbr {
		text-transform: uppercase;
	}
}

.oh-calendar__month {
	display: flex;
	grid-gap: var(--grid-gap);
	flex-direction: column;

	&[aria-selected="false"] {
		display: none;
	}
}

.oh-calendar__week {
	--grid-cell-min-height: 4em;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas: "monday tuesday wednesday thursday friday saturday sunday";
	grid-gap: var(--grid-gap);

	.oh-calendar__week-number {
		display: none;
		grid-area: weeknumber;
		line-height: var(--grid-cell-min-height);

		&.-current-week {
			font-weight: bold;
		}

		@container oh-calendar (min-width: 25em) {
			display: block;
		}
	}

	.oh-calendar__day {
		padding: 0.25em;
		min-height: var(--grid-cell-min-height);
	}

	@container oh-calendar (min-width: 25em) {
		grid-template-columns: var(--header-size) repeat(7, 1fr);
		grid-template-areas: "weeknumber monday tuesday wednesday thursday friday saturday sunday";
	}

	@container oh-calendar (min-width: 35em) {
		--grid-cell-min-height: 5.5em;
	}
}

.oh-calendar__week .oh-calendar__days {
	flex: 1;
}

.oh-calendar__day {
	--_day-background: var(--day-background, var(--color-grey-050, white));
	--_day-foreground: var(--day-foreground, black);
	--day-border-radius: 20px;
	border: 0;
	background-color: var(--_day-background);
	overflow: hidden;

	color: var(--_day-foreground);
	line-height: 1;

	.oh-calendar__date {
		display: block;
		margin-bottom: 0.5em;
		font-size: 1em;
	}

	&.-outside-month {
		--day-background: var(--color-grey-020);

		&.-open {
			--day-background: var(--color-teal-100);
		}

		&.-closed {
			--day-background: var(--color-grey-100);
			--day-background-alt: var(--color-grey-050);
		}
	}

	&.-monday {
		grid-area: monday;
	}

	&.-tuesday {
		grid-area: tuesday;
	}

	&.-wednesday {
		grid-area: wednesday;
	}

	&.-thursday {
		grid-area: thursday;
	}

	&.-friday {
		grid-area: friday;
	}

	&.-saturday {
		grid-area: saturday;
	}

	&.-sunday {
		grid-area: sunday;
	}

	&.-open {
		--day-background: var(--color-teal-200);
		border-bottom-right-radius: var(--day-border-radius, 0px);
	}

	&.-closed {
		--day-background: var(--color-grey-200);
		--day-background-alt: var(--color-grey-150);

		border-top-right-radius: var(--day-border-radius, 0px);
		background: repeating-linear-gradient(
			45deg,
			var(--day-background-alt),
			var(--day-background-alt) 2px,
			var(--_day-background) 2px,
			var(--_day-background) 4px
		);
	}

	&.-today {
		opacity: 1;
		--day-foreground: white;

		&.-open {
			--day-background: var(--color-teal-600);
		}

		&.-closed {
			--day-background: var(--color-grey-800);
			--day-background-alt: var(--color-grey-900);
		}
	}
}

.oh-calendar__day__hours {
	display: block;
	font-weight: 700;
	font-size: 1em;
	text-transform: capitalize;

	@supports (font-size: clamp(0.875em, 3cqw, 1.175em)) {
		font-size: clamp(0.875em, 3cqw, 1.175em);
	}
}

.oh-calendar__day__note {
	display: block;
	margin-top: 5px;
	font-weight: 700;
	font-size: 0.6em;
	line-height: 1;

	@supports (font-size: clamp(0.875em, 3cqw, 1.175em)) {
		font-size: clamp(.6em,2cqw,.8em);
	}
}
