/* WEB INTERFACE
---------------
Theme used for the web version of the widget
--------------- */

.oh-opening-hours {
	margin-bottom: 15px;

	.oh-todays-hours {
		margin: 0 0 20px 0;
	}

	.oh-week {
		display: flex;
		flex-direction: column;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		min-width: 215px;
		color: inherit;
		list-style: none;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-padding-start: 0;
		margin: 0;
		padding: 0;
		container-type: inline-size;
		container-name: oh-week;

		.oh-day {
			display: grid;
			grid-template-columns: 1fr max-content;
			column-gap: .5em;
			font-weight: 300;

			@container oh-week (min-width: 20em) {
				grid-template-columns: 16ch 1fr max-content;
			}

			.oh-day-weekday {

			}

			.oh-day-label {
				display: none;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				@container oh-week (min-width: 20em) {
					display: inline;
				}
			}

			.oh-day-hours {
				flex: 1;
				text-align: right;
				cursor: default;
			}


			&[data-current-day] {
				> * {
					font-weight: 700;
				}
			}


		}
	}
}

