.visually-hidden {
    clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
    color: #fff;
    font-size: 0.063rem;
    height: 0.5px;
    overflow: hidden;
    position: absolute;
    top: 0.5rem;
    white-space: nowrap;
    width: 0.5px;
}