/* WEB INTERFACE
---------------
Theme used for the web version of the widget
--------------- */

.oh-opening-hours.oh-infotv {
    margin-top: 40px;
    font-size: 55px;
    width: 750px;
    float: right;
    margin-right: 45px;
    color: white;
    line-height: 150%;
    .oh-footnote {
        display: none;
    }
}
