/* WEB INTERFACE
---------------
Theme used for the web version of the widget
--------------- */

.oh-web.oh-opening-hours {
    margin-bottom: 15px;
    .oh-todays-hours {
        margin: 0 0 20px 0;
    }
    .oh-week {
        display: table;
        box-sizing: border-box;
        width: 100%;
        min-width: 215px;
        color: $grey;
        font-size: 17px;
        .oh-day {
            display: table-row;
            .oh-day-label {
                display: table-cell;
            }
            .oh-day-hours {
                display: table-cell;
            }
            &[current-day]{
                .oh-day-label, .oh-day-hours {
                    font-weight: 700;
                }
            }
        }
    }
}