/* WEB INTERFACE
---------------
Theme used for the web version of the widget
--------------- */

.oh-web.oh-opening-hours {
    .oh-todays-hours {
        margin: 0 0 20px 0;
    }
    .oh-week {
        display: table;
        box-sizing: border-box;
        width: 100%;
        color: $grey;
        font-size: 17px;
        .oh-day {
            display: table-row;
            .oh-day-label {
                display: table-cell;
            }
            .oh-day-hours {
                display: table-cell;
                
                font-weight: 600;
            }
            &[current-day]{
                .oh-day-hours {
                    font-weight: 800;
                }
            }
        }
    }
}


.oh-opening, .oh-closing {
    padding: 0 3px;
    border-radius: 5px;
}