/* COLORS
---------------
Colors used in the design
--------------- */

$purple: rgb(172, 32, 167);
$blue: rgb(0, 56, 101);
$lightblue: rgb(36, 170, 225);
$yellow: rgb(252, 184, 20);
$green: rgb(0, 122, 51);
$red: rgb(195, 52, 46);
$grey: rgb(120, 120, 119);

/* FONTS
---------------
Fonts used in the design
--------------- */

$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;